
header {
    text-align: center;

    a{
        color: #000;
        text-decoration: none;
        margin: 50px 30px;
        display: inline-block;
        &.active {
            color: red;
        }
    }
}



main {
    width: 70%;
    margin: 0 auto;
    dl{
        margin: 0; padding: 0;
        dt {
            font-size: 40px;
            text-align: center;
            padding: 30px 0;
        }
    }

    
    .box1 {
        text-align: center;
        margin: 0 auto;
        width: 600px;
        display: flex;
        justify-content: space-evenly;
        text-align: center;

        div {
            
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .circle {
                background-color: #ddd;
                border: solid 2px #000;
                border-radius: 50%;
                width: 100px;
                height: 100px;
            }
            dd {
                text-transform: uppercase;
                margin: 10px 0;
            }
        }

        
    }
}
